<div class="d-flex flex-column">
  <div class="card mb-3">
    <div class="card-header text-secondary text-center">
      <%= @article.title %>
    </div>
    <div class="card-body">
      <div class="text-secondary text-center">
        <p>
        <small>
           <i class="fa fa-tag fa-fw"></i><%= link_to @article.category.name, tag_path(@article.category), class: "text-secondary" %>
            · <a href="<%= user_path(@article.user) %>", class="text-secondary"><i class="fa fa-user fa-fw"></i><%= @article.user.name %></a>
            · 发表于<%= time_ago_in_words(@article.created_at) %>前
            · <%= @article.view_count %>次阅读
          </small>
        </p>
      </div>
      <div class="text-secondary" id="picture">
        <p><%= markdownify @article.content %></p>
      </div>
    </div>
    <%= render 'bottom_article'%>
  </div>
  <div class="d-flex flex-column" id="get-comments">
    <%= render 'about_comment' %>
  </div>
</div>
