<div class="card-footer d-flex flex-row justify-content-between">
  <div class="d-flex flex-row">
    <div id="bottom-like">
      <% if logged_in? %>
        <% if current_user.like_topics.exists?(@article.id)%>
          <%= render 'unlike_bottom' %>
        <% else %>
         <%= render 'like_bottom' %>
        <% end -%>
      <% else %>
        <%= render 'like_bottom' %>
      <% end -%>
    </div>
    <div id="bottom-follow">
      <% if logged_in? %>
        <% if current_user.follow_topics.exists?(@article.id)%>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end -%>
      <% else %>
        <%= render 'follow' %>
      <% end -%>
    </div>
    <div id="bottom-keep">
      <% if logged_in? %>
        <% if current_user.keep_topics.exists?(@article.id)%>
          <%= render 'unkeep' %>
        <% else %>
          <%= render 'keep' %>
        <% end %>
      <% else %>
        <%= render 'keep' %>
      <% end -%>
    </div>
  </div>
  <div class="d-flex flex-row-reverse">
    <% if @article.user == current_user %>
      <div>
        <button class="btn btn-light btn-sm text-secondary">
          <a href="<%= edit_article_path(@article) %>", class="text-secondary">
            <i class="fa fa-pencil fa-fw text-secondary"></i>编辑
          </a>
        </button>
      </div>
      <div id="close_comments">
        <% if @article.set_comments? %>
          <%= render 'front_close_comments' %>
        <% else %>
          <%= render 'front_open_comments' %>
        <% end %>
      </div>
    <% end -%>
  </div> 
</div>
