<div id="card-body">
  <% @dates.each do |date|%>
    <div class="text-secondary">
      <%= date %>
      <hr>
    </div>
    <% date = Time.parse(date) %>
    <% @comments = @comments.select{ |comment| comment.created_at>date.midnight && comment.created_at<date.end_of_day } %>
    <% @comments.each do |comment| %>
      <div class="media">
        <% if comment.user.avatar.to_s.size == 0 %>
          <%= image_tag "male.jpeg", size: "25x25", class: "rounded-circle" %>
        <% else %>
          <%= image_tag comment.user.avatar.middle.url, class: "d-flex mr-3 rounded-circle" %>
        <% end %>
        <div class="media-body text-secondary">
          <div class="mt-0 d-flex flex-row justify-content-between row-hl">
            <div class="item-hl">
              <strong><%= link_to "#{comment.user.name}", user_path(comment.user), class: "text-secondary" %></strong>
            </div>
            <div class="item-hl">
              <small>评论于<%= time_ago_in_words(comment.created_at) %>前</small>
            <div>
          </div>
          <div class="d-flex flex-row justify-content-start row-hl">
            <p class="item-hl text-secondary"><%= comment.content %></p>
          </div>  
        </div>
      </div>
    <% end %>
  <% end %>
</div>
